<form method="post" action="{{ path('app_purchase_condition_delete', {'id': purchase_condition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_condition.id) }}">
    <button class="btn">Supprimer</button>
</form>
