{% extends 'app.html.twig' %}

{% block title %}New PurchaseCondition{% endblock %}

{% block body %}
    <h1>Nouveau condition d'achat</h1>

    {{ include('purchase_condition/_form.html.twig') }}
    <br/>
    <a href="{{ path('app_purchase_condition_index') }}">Retour à la liste</a>
{% endblock %}
