{% extends 'app.html.twig' %}

{% block title %}New Provider{% endblock %}

{% block body %}
    <h1>Nouveau fournisseur</h1>

    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('app_provider_index') }}">Retour à la liste</a>
{% endblock %}
